name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install \
            libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            lld
      - name: Build
        run: RUSTFLAGS="-D warnings" cargo build --all-targets --all-features
      - name: Cargo fmt
        run: cargo fmt --check
      - name: Dioxus fmt
        # dx fmt --check does not work propely
        run: dx fmt && git diff --exit-code
      - name: Run tests
        run: cargo test --verbose
