name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: cargo-bins/cargo-binstall@main
      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install \
            libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            lld
      - name: Install dioxus cli
        run: cargo binstall dioxus-cli --force
      - name: Build
        run: RUSTFLAGS="-D warnings" cargo build --all-targets --all-features
      - name: Cargo fmt
        run: cargo fmt --check
      - name: Dioxus fmt
        run: dx fmt --check
      - name: Run tests
        run: cargo test --verbose
